#topHomePage{
    height: 200px;
    display: block;
    margin: auto;
    
}

body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(94, 94, 94);
} 

.navbar li{
    float: left;
}

