body{
    background-image: url("ideogram\ \(33\).jpeg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    background: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(red,black);
    background-repeat: no-repeat;
    background-attachment: fixed;

}