

body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    background-color: rgb(196, 193, 193);
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to make text more readable */
}

.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(94, 94, 94);
} 

.navbar li{
    float: left;
}



