

body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    background-color: rgb(196, 193, 193);
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to make text more readable */
}


