img{
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
      
.username
{
    font-weight: bold;
}

.manga_pic
{
    width: 100px;
    border-radius: 20px;
    float: none;
}

.manga_list_background
{
    background-color: lightgray;
}