.updated-info-container {
  width: 90%;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: auto auto auto auto;
}

.updated-info-container::-webkit-scrollbar {
  display: none;
}

.manga :hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}

