body {
  margin: 0;
  padding: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/mangaweb.jpg");
  background-position: top;
  background-size: cover;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2em;
}

.whitebox {
  height: 35em;
  width: 75em;
  /* max-width: 25em; */
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll;
}

.whitebox::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
