.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b4b3b1;
  padding-left: 2em;
  padding-right: 2em;
}

.header-container img {
  height: 3em;
}

.header-container input {
  height: 2em;
}

.header-container button {
  height: 2em;
}

.header-link {
  text-decoration: none;
  color: black;
}
